{% extends 'main/base.html' %}
{% block bodytag %}
    <h2 class="page-title">Sign in</h2>
    <form action="" method="POST" class="compact-form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            {{ form.password }}
        </div>
        <input type="submit" class="btn btn-dark btn-sm" value="Login">
    </form>
{% endblock bodytag %}