{% extends 'main/base.html' %}
{% block headtag %}
    <style>
        #register_form {
            max-width: 50%;
            margin: auto;
        }
    </style>
{% endblock headtag %}
{% block bodytag %}
    <h2 class="page-title">Become a member</h2>
    <form action="" method="POST" id="register_form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            {{ form.username }}
        </div>
        <div class="mb-3">
            <label for="first_name" class="form-label">First name:</label>
            {{ form.first_name }}
        </div>
        <div class="mb-3">
            <label for="last_name" class="form-label">Last name:</label>
            {{ form.last_name }}
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            {{ form.email }}
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password:</label>
            {{ form.password1 }}
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Password confirmation:</label>
            {{ form.password2 }}
        </div>
        <div class="mb-3">
            <label for="user_type" class="form-label">Role:</label>
            {{ form.user_type }}
        </div>
        <input type="submit" class="btn btn-dark btn-sm" value="Register">
    </form>
{% endblock bodytag %}