{% extends 'main/base.html' %}
{% block bodytag %}
    <br>
    <h3>{{ teacher }}</h2>
    <br>
    <hr>
    {% if teacher.course_set.all %}
        <h4>Courses</h4>
        <table class="table">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Details</th>
            </thead>
            <tbody>
                {% for course in teacher.course_set.all %}
                    <tr>
                        <td>{{ course.name }}</td>
                        {% if course.get_attendable_presentations %}
                            <td><a href="{% url 'courseapp:course_details' course.id %}" class="btn btn-sm btn-dark" role="button">Details</a></td>
                        {% else %}
                            <td><a href="{% url 'courseapp:course_details' course.id %}" class="btn btn-sm btn-light" role="button">Details</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>No available courses found</h4>
    {% endif %}
{% endblock bodytag %}