body {
    background-color: #d4d4d4;
    color: #1c1c1c;
    max-width: 70%;
    display: block;
    margin: auto;
    padding: 30px;
}

header {
    background-color: #646695;
    position: fixed;
    left: 0;
    right: 0;
    top: 5px;
    height: 30px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header ul li {
    margin: 20px;
}

header li a {
    color: #d4d4d4;
    text-decoration: none;
}