{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework - {{ title }}</title>
    <link rel="icon" href="{% static 'main/img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'interface:index' %}">Homepage</a>
                </li>
                {% if not request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'userapp:register' %}">Register</a>
                    </li>
                    <li>
                        <a href="{% url 'userapp:login' %}">Login</a>
                    </li>
                {% else %}
                    {% if request.user.user_type == 'STUDENT' %}
                        <li>
                            <a href="#">My courses</a>
                        </li>
                        <li>
                            <a href="#">Available courses</a>
                        </li>
                    {% elif request.user.user_type == 'TEACHER' %}
                        <li>
                            <a href="#">My courses</a>
                        </li>
                        <li>
                            <a href="#">My presentations</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="#">Logout</a>
                    </li>
                {% endif %}
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </nav>
    </header>
    <br>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <br>
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <br>
    {% endif %}
    {% block content %}
    {% endblock content %}
</body>
</html>