{% extends 'main/base.html' %}
{% block bodytag %}
    <h2>{{ presentationstudentrel.student }} | {{ presentationstudentrel.grade }}</h2>
    <hr>
    {% if homework_set.all %}
        {% for homework in homework_set.all %}
            <div class="card">
                <div class="card-header">{{ homework.homework.title }}</div>
                <div class="card-body">
                    <p class="card-text">{{ homework.answer }}</p>
                </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <h4>No available answers found</h4>
    {% endif %}
{% endblock bodytag %}