{% extends 'main/base.html' %}
{% block bodytag %}
    <h3>{{ course.name }}</h2> <span class="text-muted">by <a href="#" class="text-reset">{{ course.teacher.first_name}} {{ course.teacher.last_name }}</a></span>
    <br>
    <br>
    <p>{{ course.description }}</p>
    <br>
    <hr>
    {% if course.get_attendable_presentations %}
        {% if user.is_anonymous or user.user_type == 'TEACHER' %}
            <h4>Presentations</h4>
            <table class="table">
                <thead>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                </thead>
                <tbody>
                    {% for presentation in course.get_attendable_presentations %}
                        <tr>
                            <td>{{ presentation.start_date }}</td>
                            <td>{{ presentation.end_date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif not attended %}
            <h4>Presentations</h4>
            <table class="table">
                <thead>
                    <th scope="col">Start date</th>
                    <th scope="col">End date</th>
                </thead>
                <tbody>
                    {% for presentation in course.get_attendable_presentations %}
                        <tr>
                            <td>{{ presentation.start_date }}</td>
                            <td>{{ presentation.end_date }}</td>
                            <td><a href="{% url 'join_presentation' course.id %}" class="btn btn-sm btn-dark" role="button">Attend</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h4>You have already take this course</h4>
        {% endif %}
    {% else %}
        <h4>This course is not being presented</h4>
    {% endif %}
{% endblock bodytag %}