{% extends 'main/base.html' %}
{% block bodytag %}
    <a href="{% url 'courseapp:new_presentation' course_id %}" class="btn btn-dark">New presentation</a>
    <hr>
    {% if presentation_set %}
        <table class="table">
            <thead>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
            </thead>
            <tbody>
                {% for presentation in presentation_set %}
                    <tr>
                        <td>{{ presentation.start_date }}</td>
                        <td>{{ presentation.end_date }}</td>
                        {% if presentation.is_active %}
                            <td><a href="{% url 'courseapp:manage_presentation' presentation.id %}" class="btn btn-sm btn-dark" role="button">Manage</a></td>
                        {% else %}
                            <td><a href="{% url 'courseapp:manage_presentation' presentation.id %}" class="btn btn-sm btn-dark disabled" role="button" aria-disabled="true">Manage</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>No available presentations found</h4>
    {% endif %}
{% endblock bodytag %}