{% extends 'main/base.html' %}
{% block bodytag %}
    <h2>{{ homework.title }}</h2>
    <p>{{ homework.description }}</p>
    <hr>
    {% if homework.answers.all %}
        {% for answer in homework.homeworkstudentrel_set.all %}
            <div class="card">
                <div class="card-header">{{ answer.student }}</div>
                <div class="card-body">
                    <p class="card-text">{{ answer.answer }}</p>
                </div>
            </div>
            <br>
        {% endfor %}
    {% else %}
        <h4>No available answers found</h4>
    {% endif %}
{% endblock bodytag %}