{% extends 'main/base.html' %}
{% block bodytag %}
    <br>
    <a href="{% url 'courseapp:new_homework' presentation.id %}" class="btn btn-dark">New homework</a>
    <br>
    <hr>
    {% if presentation.homework_set.all %}
        <h4>Homeworks</h4>
        <table class="table">
            <thead>
                <th scope="col">Title</th>
                <th scope="col">Number of answers</th>
            </thead>
            <tbody>
                {% for homework in presentation.homework_set.all %}
                    <td>{{ homework.title }}</td>
                    <td>{{ homework.answers.count }}</td>
                    <td><a href="#" class="btn btn-sm btn-dark" role="button">Details</a></td>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>No available homeworks found</h4>
    {% endif %}
    <br>
    <hr>
    {% if presentation.students.all %}
        <h4>Students</h4>
        <table class="table">
            <thead>
                <th scope="col">Name</th>
                <th scope="col">Grade</th>
            </thead>
            <tbody>
                {% for student in presentation.students.all %}
                    <td>{{ student }}</td>
                    <td>{{ student.grade }}</td>
                    <td><a href="#" class="btn btn-sm btn-dark" role="button">Update</a></td>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>No available students found</h4>
    {% endif %}
{% endblock bodytag %}