{% extends 'main/base.html' %}
{% block bodytag %}
    <h2 class="page-title">Add a presentation to {{ course_name }}</h2>
    <form action="" method="POST" class="compact-form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Start date:</label>
            {{ form.start_date }}
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">End date:</label>
            {{ form.end_date }}
        </div>
        <input type="submit" class="btn btn-dark btn-sm" value="Add">
    </form>
{% endblock bodytag %}