{% extends 'main/base.html' %}
{% block bodytag %}
    <h2 class="page-title">New homework</h2>
    <form action="" method="POST" class="compact-form">
        {% csrf_token %}
        <div class="mb-3">
            <label for="name" class="form-label">Title:</label>
            {{ form.title }}
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            {{ form.description }}
        </div>
        <input type="submit" class="btn btn-dark btn-sm" value="Add">
    </form>
{% endblock bodytag %}