{% extends 'main/base.html' %}
{% load model_tags %}
{% block bodytag %}
    {% if course_set %}
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for course in course_set %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ course.course }}</h5>
                            <span class="card-text text-muted">{{ course.start_date }} - {{ course.end_date }}</span>
                            <br>
                            <p class="card-text">{{ course.course.description|truncatechars:256 }}</p>
                            {% if course|presentation_has_ended %}
                                <a href="{% url 'courseapp:certificate_details' course.id request.user.id %}" class="card-link btn btn-sm btn-dark" role="btn">Certificate</a>
                            {% elif course.is_active %}
                                <a href="{% url 'courseapp:course_dashboard' course.id %}" class="card-link btn btn-sm btn-dark" role="btn">Dashboard</a>
                            {% else %}
                                <a href="{% url 'courseapp:course_dashboard' course.id %}" class="card-link btn btn-sm btn-dark disabled" role="btn" aria-disabled="true">Dashboard</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h4>No available courses found</h4>
    {% endif %}
{% endblock bodytag %}