{% extends 'main/base.html' %}
{% block bodytag %}
    <br>
    <a href="{% url 'courseapp:teacher_new_course' %}" class="btn btn-dark">Create a new course</a>
    <br>
    <br>
    {% if course_set %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for course in course_set %}
            <div class="col" >
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <p class="card-text">{{ course.description|slice:":64" }}...</p>
                        <a href="{% url 'courseapp:course_details' course.id %}" class="card-link btn btn-sm btn-secondary" role="btn">View details</a>
                        <a href="{% url 'courseapp:course_update' course.id %}" class="card-link btn btn-sm btn-dark" role="btn">Edit</a>
                        <a href="{% url 'courseapp:course_new_presentation' course.id %}" class="card-link btn btn-sm btn-dark" role="btn">Add presentation</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h2 class="page-title">You don't have any courses yet</h2>
    {% endif %}
{% endblock bodytag %}