{% extends 'main/base.html' %}
{% block bodytag %}
    <a href="{% url 'courseapp:new_course' %}" class="btn btn-dark">New course</a>
    <hr>
    {% if course_set %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for course in course_set %}
            <div class="col" >
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ course }}</h5>
                        <p class="card-text">{{ course.description|truncatechars:256 }}</p>
                        <a href="{% url 'courseapp:course_details' course.id %}" class="card-link btn btn-sm btn-secondary" role="btn">Details</a>
                        <a href="{% url 'courseapp:update_course' course.id %}" class="card-link btn btn-sm btn-dark" role="btn">Update</a>
                        <a href="{% url 'courseapp:course_presentations' course.id %}" class="card-link btn btn-sm btn-dark" role="btn">Presentations</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h4>No available courses found</h4>
    {% endif %}
{% endblock bodytag %}